body{
    background: #110010;
    color: #ffff;
}
.search_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 90px;
}

.search_employees_wrapper_Txt{
    flex-grow: 1;
}

.search_employees_wrapper{
    display: flex;
    flex-grow: 1;
}
#text_search{
    width: 360px;
    background: black;
    color: white;
}
.filter_wrapper{
    margin-left: 4px;
}

.genInputField{
    background: black;
    color: white;
    border-radius: 6px;
    border-color: white;
    padding: 8px;
    margin-left: 4px;
}

.genSelect{
    background: black;
    color: white;
    border-radius: 6px;
    border-color: white;
    padding: 8px;
    margin-left: 4px;
}

.search_employees_Title{
    font-size: 2em;

}

.add_employees_wrapper{
    background: #7030a0;
    border-radius: 26px;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.addEmployeesBtn{
    margin-right: 10px;
}

.no_resultsWrapper{
    font-size: 1em;
    text-align: center;
    padding: 4px;

}

.no_resul_paragraph1{
    padding-bottom: 10px;
    margin-top: -20px;
    margin-bottom: 20px;
}

#addEmployeeRes_wrapper{
    display: none;
}
.searchSkillBtn{
    border-radius: 8px;
    margin-left: 10px;
    padding: 6px;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
}

.clientDisplay_wrapper{
    display: flex;
    background: #767070;
    padding: 8px;
    margin: 20px 90px;
    border-radius: 6px;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.clientCount{
    color: blue;
    padding: 6px;
    border-radius: 26px;
    border: 2px solid blue;
}